{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "config": true,
    "db": true,
    "log": true,
    "messageQueue": true,
    "models": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "plugins": ["jsdoc"],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 150,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "indent": [
      "off",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["error", "unix"],
    "eol-last": ["error", "always"],
    "quotes": ["warn", "single"],
    "semi": ["error", "always"],
    "no-console": "off",
    "no-var": "error"
  }
}
